<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Primer Estudio</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero officiis, impedit tenetur repellendus magni quisquam deleniti necessitatibus totam voluptas, officia, deserunt rem vel inventore quasi autem eum? Cum, ex!
            </p>
        </ul>
        <ul>
            <li>
                <h1>Segundo Estudio</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero officiis, impedit tenetur repellendus magni quisquam deleniti necessitatibus totam voluptas, officia, deserunt rem vel inventore quasi autem eum? Cum, ex!
            </p>
        </ul>
        <ul>
            <li>
                <h1>Tercer Estudio</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum libero officiis, impedit tenetur repellendus magni quisquam deleniti necessitatibus totam voluptas, officia, deserunt rem vel inventore quasi autem eum? Cum, ex!
            </p>
        </ul>
    </div>
</div>