<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="col-sm-4 col-md-4 col-gl-4">
        <circle-progress
        [percent]="60"
        [space]="-10"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10"
        [animation]="true"
        [animationDuration]="1000"
        [title]="'HTLM'"
        [subtitle]="'60%'"
    ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-gl-4">
        <circle-progress
        [percent]="60"
        [space]="-10"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10"
        [animation]="true"
        [animationDuration]="1000"
        [title]="'CSS'"
        [subtitle]="'60%'"
    ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-gl-4">
        <circle-progress
        [percent]="60"
        [space]="-10"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10"
        [animation]="true"
        [animationDuration]="1000"
        [title]="'JS'"
        [subtitle]="'60%'"
    ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-gl-4">
        <circle-progress
        [percent]="60"
        [space]="-10"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10"
        [animation]="true"
        [animationDuration]="1000"
        [title]="'ANGULAR'"
        [subtitle]="'60%'"
    ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-gl-4">
        <circle-progress
        [percent]="60"
        [space]="-10"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10"
        [animation]="true"
        [animationDuration]="1000"
        [title]="'SQL'"
        [subtitle]="'60%'"
    ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-gl-4">
        <circle-progress
        [percent]="60"
        [space]="-10"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10"
        [animation]="true"
        [animationDuration]="1000"
        [title]="'HTLM'"
        [subtitle]="'60%'"
    ></circle-progress>
    </div>
</div>