<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Pixel Art</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum sed suscipit quis voluptates alias, illo quidem beatae? Exercitationem reprehenderit odit eum facere. Repudiandae sed non quasi excepturi, consectetur suscipit amet.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Pixel_Art.jpeg" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
