.row{
    padding: 20px;
}
div{
    background-color: rgb(159, 212, 214);
    text-align: center;
}

/*Estilo de foto de perfil*/
@media (min-width: 576px){
    #fotoPerfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 575px){
    #fotoPerfil{
        position: absolute;
        border-radius: 80%;
        width: 30%;
        left: 33%;
        top: 650px;
    }
}
/*Etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}